<h1><%= @artist.name %></h1>
  <hr>

  <% @artist.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail %>
  <% end %>

  <hr>

<h1>Songs</h1>
      <hr />
<% if @artist.songs.any? %>
  <ul class="all-songs">
    <% @artist.songs.each do |song| %>
      <li><%= song.name %> --
  <%= link_to "Delete song", artist_song_path(@artist.id, song.id),method: :delete, data: { confirm: "Are you sure?" } %></li>
  <hr>
    <% end %>
  </ul>
<% else %>
  <p>This artist appears to have no songs.</p>
<% end %>
<hr>
<form>
      <input type="text" id="new-song" placeholder="Add a song">
    </form>
<!-- <%= render "form", song: @song%> -->
<hr>
<%= link_to "Add a song to this artist!", new_artist_song_path(@artist.id), class: "btn btn-primary"%>
<%= link_to "Back to Artists", root_path, class: "btn btn-primary" %>
<%= link_to "Delete this Artist", artist_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<a href="#" id="remove-songs">Remove all songs</a>
