<p class="create">Add a song</p>
<%= render 'songs/form'%>
<hr>


<h1><%= @artist.name %></h1>
  <hr>

  <% @artist.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail %>
  <% end %>

  <hr>

<h1>Songs</h1>
      <hr />

<% if @artist.songs.any? %>
  <ul id="all-songs">
    <% @artist.songs.each do |song| %>

      <li class="one-song">
        <p><%= song.name %></p>
        <!-- <p id="<%="#{song.id}"%>" class="btn remove-button">Remove Song</p> -->
        <a href="/artists/<%= @artist.id %>/songs/<%=song.id%>" data-method="delete" rel="nofollow" class="btn btn-primary remove-song">Remove Song</a>
  </li>
  <hr>
    <% end %>
  </ul>
<% else %>
  <p>This artist appears to have no songs.</p>
<% end %>
<hr>
<hr>

<%= link_to "Back to Artists", root_path, class: "btn btn-primary" %>
<%= link_to "Delete this Artist", artist_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<a class="btn btn-primary" href="#" id="remove-songs">Remove all songs</a>
